header,
#view-prefs,
#display,
.form-container {
    border: 1px solid black;
}

#view-prefs,
.form-container {
    background-color: white;
}

.display-container {
    border: 1px solid blue;
}

.card {
    border: 1px solid orangered;
}

section.form-container:not(.hide) ~ .show-filter {
    background-color: white;
    filter: opacity(0.5);
}