#title {
    background-color: #6A70BD;
    color: white;
}

#sidebar {
    background-color: #E9EAEC;
}

    .selected-view-preference {
        background-color: hsl(220, 7%, 100%);
    }

.form-container {
    background-color: white;
    border-radius: 0.25rem;
}

.form-container:not(.hide) ~ .show-filter {
    background-color: white;
    filter: opacity(0.5);
}

input,
select {
    border: 1px solid black;
    border-radius: 0.25rem;
}

input:invalid {
    border: 1px solid red;
}

.required-badge,
.error-message {
    color: red;
}

.form-container {
    border: 1px solid black;
}

    fieldset {
        border: none;
    }