:root {
    --background: #F0F2F6;
    --ui: #FCFCFC;
    --dark: #252525;
}

body {
    background-color: var(--background);
    color: var(--dark);
}

#title,
#sidebar,
.card.project,
.card.preference-header,
.card.singleton,
.card.checklist {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px 1px;
}

#title {
    background-color: var(--ui);
}

#sidebar {
    background-color: var(--ui);
}

#display {
    background: var(--background);
}

    .card.project,
    .card.preference-header,
    .card.singleton,
    .card.checklist {
        background-color: var(--ui);
        border-radius: 0.5em;
    }

