/* card hover */
/* card hover */
/* card hover */

.card.singleton,
.card.checklist {
    /* border-radius: 0.5em; */
    position: relative;
    width: 100%;
}

.card.singleton::after,
.card.checklist::after {
    content: '';
    position: absolute;
    bottom: 0px; left: 0px;
    z-index: -1;

    background-color: hsl(220, 7%, 96%);

    width: 100%;
    height: 0px;
    /* border-radius: 0.5em; */
}

.card.singleton:hover::after,
.card.checklist:hover::after {
    height: 100%;
    transition: all 0.20s ease-out;
}


/* card icon hover */
/* card icon hover */
/* card icon hover */

.card img:not(.priority):hover {
    transform: scale(1.2)
}


/* view preference hover */
/* view preference hover */
/* view preference hover */

#sidebar li,
#sidebar li:after {
    border-radius: 0.5em;
}

#sidebar li {
    position: relative;
    width: 100%;
    padding: var(--small-pad);
}

#sidebar li::after {
    content: '';
    position: absolute;
    bottom: 0px; left: 0px;
    z-index: -1;

    background-color: var(--background);

    width: 100%;
    height: 0px;
}

#sidebar li:hover::after,
.selected-view-preference {
    box-shadow: inset rgba(0, 0, 0, 0.1) 0px 0px 12px 1px;
}

#sidebar li:hover::after {
    height: 100%;
    transition: all 0.20s ease-out;
}

.selected-view-preference {
    background-color: var(--background);
}


/* project icon selection */
/* project icon selection */
/* project icon selection */

.project-icons-container img {
    transition: background 0.20s ease-out;
}

.icon-selected,
.project-icons-container img:hover {
    background-color: hsl(236, 39%, 88%);
}


/* form hide/show */
/* form hide/show */
/* form hide/show */

.hide {
    display: none;
}

.form-container:not(.hide) ~ .show-filter {
    position: absolute;
    top: 0px; right: 0px;
    z-index: 2;

    background-color: var(--ui);
    filter: opacity(0.5);

    height: 100vh; width: 100vw;
}

.form-container:not(.hide) {
    position: absolute;
    top: 50%; left:50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}


/* sidebar hide/show */
/* sidebar hide/show */
/* sidebar hide/show */

#sidebar {
    transition: transform 0.20s ease-out;
}

.show-sidebar {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
}

.hide-sidebar {
    transform: translateX(clamp(-200px, -25vw, -300px));
    -webkit-transform: translateX(clamp(-200px, -25vw, -300px));
}