/* card hover */
/* card hover */
/* card hover */

.card.singleton,
.card.checklist {
    border-radius: 0.5em;
    position: relative;
    width: 100%;
}

.card.singleton::after,
.card.checklist::after {
    content: '';
    position: absolute;
    bottom: 0px; left: 0px;
    z-index: -1;

    background-color: hsl(220, 7%, 96%);

    width: 100%;
    height: 0px;
    border-radius: 0.5em;
}

.card.singleton:hover::after,
.card.checklist:hover::after {
    height: 100%;
    transition: all 0.20s ease-out;
}


/* card icon hover */
/* card icon hover */
/* card icon hover */

.card img:not(.priority):hover {
    transform: scale(1.2)
}


/* view preference hover */
/* view preference hover */
/* view preference hover */

.view-prefs-container ul li {
    border-radius: 0.5em;
    position: relative;
    width: 100%;
}

.view-prefs-container ul li::after {
    content: '';
    position: absolute;
    bottom: 0px; left: 0px;
    z-index: -1;

    background-color: hsl(220, 7%, 100%);

    width: 100%;
    height: 0px;
    border-radius: 0.5em;
}

.view-prefs-container ul li:hover::after {
    height: 100%;
    transition: all 0.20s ease-out;
}


/* project icon selection */
/* project icon selection */
/* project icon selection */

.project-icons-container img {
    border-radius: 0.5em;

    transition: background 0.20s ease-out;
}

.icon-selected,
.project-icons-container img:hover {
    background-color: hsl(236, 39%, 88%);
}