:root {

}

.hide {
    display: none;
}

body {
    height: 100vh;
}

    ul {
        list-style: none;
    }

    header {
        grid-area: header;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        display: grid;
        grid-template-columns: 3fr 7fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 'header  header'
                            'display display';

        height: inherit;
        padding: 1em;
    }

        #view-prefs {
            grid-area: view-prefs;

            position: absolute;
            top: 0px; left: 0px;
        }

        #display {
            grid-area: display;
            /* make grid */
        }

            .container {
                display: flex;
                flex-flow: column;
                gap: 0.25em;

                padding: 1em;
            }

                .header {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    width: 100%;
                }

                    .title {
                        margin-right: auto;
                    }
                
                .task-controls {
                    display: flex;
                    justify-content: flex-start;
                }

                    .tally {
                        margin-right: auto;
                    }

                .singleton {
                    display: flex;
                    align-items: flex-start;
                }

                    .content {
                        display: flex;
                        flex-flow: column;

                        width: 100%;
                    }

                        .details {
                            display: flex;
                        }
