/* GLOBAL */
/* GLOBAL */
/* GLOBAL */

:root {
    --main-pad: 1em;
    --main-gap: 1em;

    --med-pad: 0.5em;

    --small-pad: 0.25em;
    --small-gap: 0.25em;
}

.hide {
    display: none;
}

ul {
    list-style: none;
}

    li {
        padding: 0em;
    }

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

    header,
    #view-prefs,
    #display {
        padding: var(--main-pad);
    }


/* --- VIEW PREFS */
/* --- VIEW PREFS */
/* --- VIEW PREFS */

#view-prefs {
    position: absolute;
    top: calc(calc(var(--main-pad) * 2) + 1.65em); left: 0em;
}

    #view-prefs ul {
        display: flex;
        flex-flow: column;
        gap: var(--main-gap);
    }

/* --- FORMS */
/* --- FORMS */
/* --- FORMS */

.form-container {
    position: absolute;
    top: 50%; left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    
    width: 80%;
    max-width: 450px;
}

    section.form-container:not(.hide) ~ .show-filter {
        position: absolute;
        top: 0px; right: 0px;
        z-index: 1;

        height: 100vh; width: 100vw;

        background-color: white;
        filter: opacity(0.5);
    }

fieldset {
    display: flex;
    flex-flow: column;
}

    .dropdowns {
        display: flex;
    }

        .dropdowns div {
            display: flex;
            flex-flow: column;

            width: 50%;
        }

#project-buttons,
#task-buttons {
    display: flex;
    justify-content: center;
}

/* --- CONTENT */
/* --- CONTENT */
/* --- CONTENT */

    main {
        display: grid;
        grid-template-columns: 3fr 7fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 'header  header'
                             'display display';

        height: inherit;
        width: 100%;
    }

/* ------- HEADER */
/* ------- HEADER */
/* ------- HEADER */

        header {
            grid-area: header;

            display: flex;
            justify-content: center;
            align-items: center;
        }

/* ------- DISPLAY */
/* ------- DISPLAY */
/* ------- DISPLAY */

        #display {
            grid-area: display;
        }

            .display-container {
                display: flex;
                flex-flow: column;
                gap: var(--small-gap);

                padding: 1em;
            }

                .header {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: var(--small-gap);

                    width: 100%;
                }

                    .title {
                        margin-right: auto;
                    }
                
                div.card,
                .task-controls {
                    padding: var(--med-pad);
                }
                
                .task-controls {
                    display: flex;
                    justify-content: flex-start;
                }

                    .tally {
                        margin-right: auto;
                    }

                .singleton {
                    display: flex;
                    align-items: flex-start;
                }

                    input[type='checkbox'] {
                        margin-right: var(--small-pad);
                    }

                    .singleton input[type='checkbox'] {
                        margin-top: calc(var(--small-pad) * 1);
                    }

                    .content {
                        display: flex;
                        flex-flow: column;
                        gap: var(--small-gap);

                        width: 100%;
                    }

                        .details {
                            display: flex;
                            gap: var(--small-gap);
                        }

                .checklist {
                    display: flex;
                    flex-flow: column;
                    gap: var(--small-gap);
                }

                    .description-container {
                        display: flex;
                    }

                        .description {
                            margin-right: auto;
                        }

                    .checklist ul li {
                        display: flex;
                        align-items: center;
                    }

                        .checklist ul li label {
                            margin-right: auto;
                        }
