/* GLOBAL */
/* GLOBAL */
/* GLOBAL */

:root {
    --xtra-small-pad: calc(0.25 * var(--main-pad));
    --xtra-small-gap: calc(0.25 * var(--main-gap));

    --small-pad: calc(0.5 * var(--main-pad));
    --small-gap: calc(0.5 * var(--main-gap));

    --main-pad: 1rem;
    --main-gap: 1rem;

    --med-pad: calc(1.5 * var(--main-pad));

    --lrg-gap: calc(2 * var(--main-gap))
}

html, body {
    height: 100vh;
    width: 100vw;
}

img {
    height: 1.10rem;
}

.hide {
    display: none;
}

.header img,
.project-icons-container img {
    height: 2rem;
}


/* LAYOUTS */
/* LAYOUTS */
/* LAYOUTS */

main {
    display: grid;

    height: inherit;
    width: inherit;
}

main.full-view {
    grid-template-columns: 25vw 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'title  title'
                         'sidebar display'
}

main.compact-view {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'title'
                         'display';
}

#title {
    grid-area: title;

    z-index: 2;
}

#sidebar.full-view {
    grid-area: sidebar;
    height: 100%;
}

#sidebar.compact-view {
    --y-offset: calc(calc(2rem + calc(var(--main-pad) * 2)));
        
    position: absolute;
    top: var(--y-offset); left: 0rem;
    z-index: 1;

    height: calc(100vh - var(--y-offset));
}

#display {
    grid-area: display;
}

#display.full-view .display-container {
    width: 75vw;
}

#display.compact-view .display-container {
    width: 100vw;
}


/* OVERFLOW */
/* OVERFLOW */
/* OVERFLOW */

#dynamic-views li span,
.card.project .title, .card.project .description {
    display: inline;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    max-width: 100%;

    background-color: pink;
}


/* TITLE */
/* TITLE */
/* TITLE */




/* SIDEBAR */
/* SIDEBAR */
/* SIDEBAR */

#sidebar {
    display: flex;
    flex-flow: column;

    width: 25vw;
}

    #sidebar ul {
        display: flex;
        flex-flow: column;

        width: inherit;
    }

        #sidebar li {
            display: flex;

            width: inherit;
        }


/* DISPLAY */
/* DISPLAY */
/* DISPLAY */

.card {
    width: inherit;
}

    .card.project {
        display: flex;
        flex-flow: column;
        
        width: inherit;
    }

        .card.project .header {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-rows: 1fr auto;
            grid-template-areas: 'title       controls'
                                 'description .';
            
            width: inherit;
        }

            .card.project .title {
                grid-area: title;

                width: inherit;
            }

            .project-controls {
                grid-area: controls;
                display: flex;
            }

            .card.project .description {
                grid-area: description;
            }


/* FORMS */
/* FORMS */
/* FORMS */

.form-container {
    position: absolute;
    top: 50%; left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    
    width: 80%;
    max-width: 450px;
}