/* GLOBAL */
/* GLOBAL */
/* GLOBAL */

:root {
    --xtra-small-pad: calc(0.25 * var(--main-pad));
    --xtra-small-gap: calc(0.25 * var(--main-gap));

    --small-pad: calc(0.5 * var(--main-pad));
    --small-gap: calc(0.5 * var(--main-gap));

    --main-pad: 1rem;
    --main-gap: 1rem;

    --med-pad: calc(1.5 * var(--main-pad));

    --lrg-gap: calc(2 * var(--main-gap))
}

html, body {
    height: 100vh;
    width: 100vw;
}

ul {
    list-style: none;
}

li {
    padding: 0rem;
}

img {
    height: 1.10rem;
}

#title img,
.header img,
.project-icons-container img {
    height: 2rem;
}

#title,
#sidebar,
#display {
    padding: var(--main-pad);
}


/* LAYOUTS */
/* LAYOUTS */
/* LAYOUTS */

main {
    display: grid;

    height: inherit;
    width: inherit;
}

main.full-view {
    grid-template-columns: clamp(200px, 25vw, 300px) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'title   title'
                         'sidebar display'
}

main.compact-view {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'title'
                         'display';
}

#title {
    grid-area: title;

    z-index: 2;
}

#sidebar {
    width: clamp(200px, 25vw, 300px);
}

#sidebar.full-view {
    grid-area: sidebar;
    height: 100%;
}

#sidebar.compact-view {
    --y-offset: calc(calc(2.75rem + calc(var(--main-pad) * 2)));
        
    position: absolute;
    top: var(--y-offset); left: 0rem;
    z-index: 1;

    height: calc(100vh - var(--y-offset));
}

#display {
    grid-area: display;
    width: 1fr;
}


/* OVERFLOW */
/* OVERFLOW */
/* OVERFLOW */

#dynamic-views li span,
.card .title,
.card .description,
.checkboxes label,
select#project {
    display: inline;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    max-width: 100%;
}


/* TITLE */
/* TITLE */
/* TITLE */

#title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--main-gap);
}


/* SIDEBAR */
/* SIDEBAR */
/* SIDEBAR */

#sidebar {
    display: flex;
    flex-flow: column;
    gap: var(--lrg-gap);

    /* whidth declared in LAYOUT */
}

    #sidebar ul {
        display: flex;
        flex-flow: column;
        gap: var(--small-gap);

        width: 100%;
    }

        #sidebar ul .project-create {
            display: flex;
            justify-content: space-between;
        }

        #sidebar li {
            display: flex;
            align-items: center;
            gap: var(--xtra-small-gap);

            width: inherit;
        }


/* DISPLAY */
/* DISPLAY */
/* DISPLAY */

#display,
.display-container {
    display: flex;
    flex-flow: column;
    gap: var(--main-gap);
}

    .display-container {
        /* width declared in LAYOUT */

        padding: var(--main-pad);
    }

        .task-controls {
            display: flex;
            justify-content: space-between;

            padding: var(--main-pad);
        }

        .card {
            width: inherit;
        }

        .card.project,
        .card.preference-header,
        .card.singleton,
        .card.checklist {
            padding: var(--main-pad);
        }

            .card.preference-header {
                text-align: center;
            }

            .card.project {
                display: grid;
                grid-template-columns: 1fr auto;
                grid-template-rows: auto auto;
                grid-template-areas: 'title       controls'
                                    'description .';

                width: inherit;
            }

                .card.project .title {
                    grid-area: title;
                    text-align: center;

                    max-width: inherit;
                }

                .project-controls {
                    grid-area: controls;
                    display: flex;
                    align-items: center;
                    gap: var(--xtra-small-gap);
                }

                .card.project .description {
                    grid-area: description;
                    text-align: center;

                    width: inherit;
                }

            .card.singleton {
                display: flex;
                align-items: flex-start;

                width: inherit;
            }

                .singleton input[type='checkbox'] {
                    margin-top: calc(var(--xtra-small-pad) * 1);
                    margin-right: var(--xtra-small-pad);
                }

            .card.checklist {
                display: flex;
                flex-flow: column;
                justify-content: flex-start;
                gap: var(--xtra-small-gap);

                width: inherit;
            }

                .card .content {
                    display: grid;
                    grid-template-columns: 1fr auto auto auto auto;
                    grid-template-rows: auto auto;
                    grid-template-columns: 'title       date        priority    modify      delete'
                                        'description description description description description';
                    gap: var(--xtra-small-gap);

                    width: inherit;
                }

                    .card:not(.project) .title {
                        grid-template: title;

                        width: 1fr;
                    }
                    
                    .card .date {
                        grid-template: date;
                    }

                    .card .priority {
                        grid-template: priority;
                    }

                    .card .modify {
                        grid-template: modify;
                    }

                    .card .delete {
                        grid-template: delete;
                    }

                    .card .description {
                        grid-template: description;
                    }

                .checkboxes .card {
                    display: grid;
                    grid-template-columns: auto 1fr auto auto;
                    grid-template-rows: auto;
                    grid-template-areas: 'check title modify delete';
                    gap: var(--xtra-small-gap);

                    width: inherit;
                }

                    .checkboxes input {
                        grid-area: check;
                        margin-right: var(--xtra-small-pad);
                    }

                    .checkboxes label {
                        grid-area: title;
                    }

                    .checkboxes .modify {
                        grid-area: modify;
                    }

                    .checkboxes .delete {
                        grid-area: delete;
                    }


/* FORMS */
/* FORMS */
/* FORMS */

button,
input,
select {
    padding: var(--xtra-small-pad);
}

.form-container {
    display: flex;
    flex-flow: column;
    gap: var(--main-pad);
    
    width: 65vw;
    
    padding: var(--main-pad);
}

    form {
        width: calc(65vw - calc(2 * var(--main-pad)));

        padding-bottom: var(--main-pad);
    }

        fieldset {
            width: inherit;
        }

            .input-label-group {
                display: flex;
                flex-flow: column;
                gap: var(--xtra-small-gap);

                width: inherit;

                margin-top: var(--small-pad);
            }

                p {
                    margin-top: var(--small-pad);
                }

            .label-icons-group {
                display: flex;
                flex-flow: column;

                margin-top: var(--main-pad);
            }

                .project-icons-container {
                    display: flex;
                    flex-wrap: wrap;
                    gap: var(--xtra-small-gap);

                    margin-top: var(--small-pad);
                }

            .type-options,
            .dropdowns {
                display: flex;
                gap: var(--small-gap);
                
                width: inherit;
            }

                .type-group {
                    display: flex;
                    gap: var(--xtra-small-gap);
                }

                .dropdowns div {
                    display: flex;
                    flex-flow: column;

                    max-width: 50%;
                }

                    .select#project {
                        width: inherit;
                    }

.form-buttons {
    display: flex;
    justify-content: center;
    gap: var(--small-gap);
}