/* GLOBAL */
/* GLOBAL */
/* GLOBAL */

/* ! adding back padding/margins */

:root {
    --xtra-small-pad: calc(0.25 * var(--main-pad));
    --xtra-small-gap: calc(0.25 * var(--main-gap));

    --small-pad: calc(0.5 * var(--main-pad));
    --small-gap: calc(0.5 * var(--main-gap));

    --main-pad: 1rem;
    --main-gap: 1rem;

    --med-pad: calc(1.5 * var(--main-pad));

    --lrg-gap: calc(2 * var(--main-gap))
}

html, body {
    height: 100vh;
    width: 100vw;
}

ul {
    list-style: none;
}

li {
    padding: 0rem;
}

img {
    height: 1.10rem;
}

#title img,
.header img,
.project-icons-container img {
    height: 2rem;
}


/* LAYOUTS */
/* LAYOUTS */
/* LAYOUTS */

main {
    display: grid;

    height: inherit;
    width: inherit;
}

main.full-view {
    grid-template-columns: 25vw 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'main-title   main-title'
                         'main-sidebar main-display'
}

main.compact-view {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'main-title'
                         'main-display';
}

#title,
#sidebar,
#display {
    padding: var(--main-pad);
}

#title {
    grid-area: main-title;

    z-index: 2;
}

#sidebar.full-view {
    grid-area: main-sidebar;
    height: 100%;
}

#sidebar.compact-view {
    --y-offset: calc(calc(2rem + calc(var(--main-pad) * 2)));
        
    position: absolute;
    top: var(--y-offset); left: 0rem;
    z-index: 1;

    height: calc(100vh - var(--y-offset));
}

#display {
    grid-area: main-display;
}

#display.full-view .display-container {
    width: 75vw;
}

#display.compact-view .display-container {
    width: 100vw;
}


/* OVERFLOW */
/* OVERFLOW */
/* OVERFLOW */

#dynamic-views li span,
.card .title,
.card .description,
.checkboxes label,
select#project {
    display: inline;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    max-width: 100%;

    /* background-color: pink; */
}


/* TITLE */
/* TITLE */
/* TITLE */

#title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


/* SIDEBAR */
/* SIDEBAR */
/* SIDEBAR */

#sidebar {
    display: flex;
    flex-flow: column;

    width: 25vw;
}

    #sidebar ul {
        display: flex;
        flex-flow: column;

        width: 100%;
    }

        #sidebar ul .project-create {
            display: flex;
            justify-content: space-between;
        }

        #sidebar li {
            display: flex;
            align-items: center;

            width: inherit;
        }


/* DISPLAY */
/* DISPLAY */
/* DISPLAY */

.display-container {
    display: flex;
    flex-flow: column;

    /* width declared in LAYOUT */
}

    .task-controls {
        display: flex;
        justify-content: space-between;
    }

    .card {
        width: inherit;
    }

        .card.project {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-rows: auto auto;
            grid-template-areas: 'title       controls'
                                 'description .';

            width: inherit;
        }

        .card.preference-header {
            text-align: center;
        }

            .card.project .title {
                grid-area: title;
                text-align: center;

                max-width: inherit;
            }

            .project-controls {
                grid-area: controls;
                display: flex;
                align-items: center;
            }

            .card.project .description {
                grid-area: description;
                text-align: center;

                width: inherit;
            }

        .card.singleton {
            display: flex;
            align-items: flex-start;

            width: inherit;
        }

        .card.checklist {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;

            width: inherit;
        }

            .card .content {
                display: grid;
                grid-template-columns: 1fr auto auto auto auto;
                grid-template-rows: auto auto;
                grid-template-columns: 'title       date        priority    modify      delete'
                                       'description description description description description';

                width: inherit;
            }

                .card:not(.project) .title {
                    grid-template: title;

                    width: 1fr;
                }
                
                .card .date {
                    grid-template: date;
                }

                .card .priority {
                    grid-template: priority;
                }

                .card .modify {
                    grid-template: modify;
                }

                .card .delete {
                    grid-template: delete;
                }

                .card .description {
                    grid-template: description;
                }

            .checkboxes .card {
                display: grid;
                grid-template-columns: auto 1fr auto auto auto;
                grid-template-rows: auto;
                grid-template-areas: 'check title modify delete';

                width: inherit;
            }

                .checkboxes input {
                    grid-area: check;
                }

                .checkboxes label {
                    grid-area: title;
                }

                .checkboxes .modify {
                    grid-area: modify;
                }

                .checkboxes .delete {
                    grid-area: delete;
                }


/* FORMS */
/* FORMS */
/* FORMS */

/* ! fix dropdown width */
/* ! (currently taking 50% of content...  */
/* ! rather than 50% of parent) */

.form-container {
    position: absolute;
    top: 50%; left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    
    width: 65vw;
}

    form {
        width: inherit;
    }

        fieldset {
            width: inherit;
        }

            .input-label-group {
                display: flex;
                flex-flow: column;

                width: inherit;
            }

            .label-icons-group {
                display: flex;
                flex-flow: column;
            }

                .project-icons-container {
                    display: flex;
                    flex-wrap: wrap;
                }

            .type-options,
            .dropdowns {
                display: flex;
                
                width: inherit;
            }

                .dropdowns div {
                    display: flex;
                    flex-flow: column;

                    max-width: 50%;
                }

                    .select#project {
                        width: inherit;
                    }

.form-buttons {
    display: flex;
    justify-content: center;
}